<br />

<div class="container">
    <h2>Employer Registration</h2>
    <hr>

    <form [formGroup]="empRegister" (ngSubmit)="onSubmit(empRegister.value)" ngNativeValidate>
        <div class="card">
            <div class="card-header">
                Login Information
            </div>
            <div class="card-body">
                <div class="form-group col-md-6 ">
                    <label for="email">
                        Email:
                    </label>
                    <input type="email" formControlName="email" class="form-control" required  />
                    
                        <div *ngIf="empRegister.controls.email.errors?.required">Email is required</div>
                        <div *ngIf="empRegister.controls.email.errors?.email">Email must be a valid email address</div>
                   
                </div>

                <div class="form-group col-md-6">
                    <label for="password">
                        Password:
                    </label>
                    <input type="password" class="form-control" placeholder="Enter Password" id="password"
                        name="password" formControlName="password" required />
                        <div *ngIf="empRegister.controls.password.errors?.required">Password is required</div>
                        <div *ngIf="empRegister.controls.password.errors?.minlength">Password must be at least 8 characters</div>

                    <small class="text-muted">
                        Must be 8-20 characters long.
                    </small>
                </div>

                <div class="form-group col-md-6">
                    <label for="confirm_pass">
                        Confirm Password:
                    </label>
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password"
                        formControlName="confirm_password" required />
                        <div *ngIf="empRegister.controls.confirm_password.errors?.required">Password is required</div>
                        <div *ngIf="empRegister.controls.confirm_password.errors?.mustMatch">Passwords must match</div>

                </div>
            </div>
        </div>
        <br />

        <div class="card">
            <div class="card-header">
                Company Information
            </div>
            <div class="card-body">

                <div class="form-group col-md-6">
                    <label for="company_name">Company Name:</label>
                    <input type="text" class="form-control" placeholder="Company name" id="company_name"
                        formControlName="company_name" required />
                        <div *ngIf="empRegister.controls.company_name.errors?.required">Name is required</div>
                </div>

                <div class="form-group col-md-6">
                    <label for="company_website">Company Website:</label>
                    <input type="text" class="form-control" placeholder="Company website" id="company_website"
                        formControlName="company_website" required />
                        <div *ngIf="empRegister.controls.company_website.errors?.required">Website is required</div>
                </div>

                <div class="form-group col-md-6">
                    <label for="company_address">
                        Company Address:
                    </label>
                    <input type="text" class="form-control" placeholder="Current Company Address " id="company_address"
                        formControlName="company_address" required />
                        <div *ngIf="empRegister.controls.company_address.errors?.required">Address is required</div>

                </div>

                <div class="form-group col-md-6">
                    <label for="company_city">Comapany City:</label>
                    <input type="text" class="form-control" placeholder="Company City" id="company_city"
                        formControlName="company_city" required />
                        <div *ngIf="empRegister.controls.company_city.errors?.required">City is required</div>

                </div>

                <div class="form-group col-md-6">
                    <label for="company_state">Company State:</label>
                    <select class="form-control" id="company_state" formControlName="company_state" required>
                        <option value="">-----------------------------State-----------------------------</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                    <div *ngIf="empRegister.controls.company_state.errors?.required">state is required</div>

                    
                </div>

                <div class="form-group col-md-6">
                    <label for="company_profile">Company Profile:</label>
                    <textarea class="form-control" rows="4" id="company_profile"
                        formControlName="company_profile" required></textarea>
                    <div *ngIf="empRegister.controls.company_profile.errors?.required">Profile is required</div>


                </div>
            </div>
        </div>

        <br />
        <!-- <input type="submit" />  [disabled]="empregister.invalid"      -->
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="empRegister.invalid">Submit</button>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/home" style="margin: auto;" >Back</button>
    </form>
    <br />
</div>