<br />
<div class="container">
    <h2>Job Profile</h2>
    <hr>

    <form #jobpost="ngForm" (ngSubmit)="onSubmit(jobpost)">
        <div class="card">
            <div class="card-header">
                Job Posting
            </div>
            <div class="card-body">
                    <div class="form-group col-md-6 ">
                            <label>Employee Id</label>
                            <input type="text" class="form-control"  name="eid" disabled required [ngModel]="103" />
                        </div>

                <div class="form-group col-md-6 ">
                    <label>Job Title</label>
                    <input type="text" class="form-control" id="job_title" name="job_title" required ngModel />
                </div>

                <div class="form-group col-md-6 ">
                    <label>Job Description</label>
                    <textarea class="form-control" rows="5" name="description" required ngModel> </textarea>
                </div>

                <div class="form-group col-md-6 ">
                    <label>Location</label>
                    <input type="text" class="form-control" id="location" name="loc" data-toggle="tooltip"
                        title="Enter the current Job Location city" required ngModel />
                </div>

                <div class="form-group col-md-6 ">
                    <label>Skill Set</label>
                    <textarea class="form-control" id="skills" name="skills" data-toggle="tooltip"
                        title="Enter the Keyskills you want for this paticular job" required ngModel > </textarea>
                </div>

                <div class="form-group col-md-6 ">
                    <label>Experience</label>
                    <select class="form-control" id="experience" name="experience" required ngModel >
                        <option value="">Experience (Years)</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="form-group col-md-6 ">
                    <label>Role</label>
                    <input type="text" class="form-control" name="role" required ngModel />
                </div>

                <div class="form-group col-md-6 ">
                    <label>Industry</label>
                    <select class="form-control" id="industry" name="industry" required ngModel> 
                        <option value="">Industry</option>
                        <option value="Automotive/ Ancillaries">Automotive/ Ancillaries</option>
                        <option value="Banking/ Financial Services">Banking/ Financial Services</option>
                        <option value="Bio Technology & Life Sciences">Bio Technology & Life Sciences</option>
                        <option value="Chemicals/Petrochemicals">Chemicals/Petrochemicals</option>
                        <option value="Construction & Engineering">Construction & Engineering</option>
                        <option value="FMCG">FMCG</option>
                        <option value="Education">Education</option>
                        <option value="Entertainment/ Media/ Publishing">Entertainment/ Media/ Publishing</option>
                        <option value="Insurance">Insurance</option>
                        <option value="ITES/BPO">ITES/BPO</option>
                        <option value="IT/ Computers - Hardware">IT/ Computers - Hardware</option>
                        <option value="IT/ Computers - Software">IT/ Computers - Software</option>
                        <option value="Machinery/ Equipment Mfg.">Machinery/ Equipment Mfg.</option>
                        <option value="Oil/ Gas/ Petroleum">Oil/ Gas/ Petroleum</option>
                        <option value="Pharmaceutical">Pharmaceutical</option>
                        <option value="Power/Energy">Power/Energy</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Recruitment/Staffing/RPO">Recruitment/Staffing/RPO</option>
                        <option value="Retailing">Retailing</option>
                        <option value="Telecom">Telecom</option>
                        <option value="Agriculture/Dairy/Forestry">Agriculture/Dairy/Forestry</option>
                        <option value="Aviation/Aerospace">Aviation/Aerospace</option>
                        <option value="Wellness/Fitness/Sports">Wellness/Fitness/Sports</option>
                        <option value="Beverages/ Liquor">Beverages/ Liquor</option>
                        <option value="Consultancy">Consultancy</option>
                        <option value="Courier/ Freight/ Transportation">Courier/ Freight/ Transportation</option>
                        <option value="Dotcom/Internet/E-commerce">Dotcom/Internet/E-commerce</option>
                        <option value="Environmental Service">Environmental Service</option>
                        <option value="Facility management">Facility management</option>
                        <option value="Gems & Jewellery">Gems & Jewellery</option>
                        <option value="Glass">Glass</option>
                        <option value="Government/ PSU/ Defence">Government/ PSU/ Defence</option>
                        <option value="Hospitals/Healthcare/Diagnostics">Hospitals/Healthcare/Diagnostics</option>
                        <option value="Hotels/ Restaurant">Hotels/ Restaurant</option>
                        <option value="Import / Export">Import / Export</option>
                        <option value="Iron/ Steel">Iron/ Steel</option>
                        <option value="Law Enforcement/Security Services">Law Enforcement/Security Services</option>
                        <option value="Market Research">Market Research</option>
                        <option value="NGO/Social Services">NGO/Social Services</option>
                        <option value="Paper">Paper</option>
                        <option value="Printing/ Packaging">Printing/ Packaging</option>
                        <option value="Shipping/ Marine Services">Shipping/ Marine Services</option>
                        <option value="Travel/ Tourism">Travel/ Tourism</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="form-group col-md-6 ">
                    <label>Post date</label>
                    <input type="date" class="form-control" disabled name="post_date" ngModel/>
                </div>

                <div class="form-group col-md-6 ">
                    <label>Expiry date</label>
                    <input type="date" class="form-control" name="expiry_date" required
                        title="Post date and Expiry date should be different" data-toggle="tooltip"ngModel />
                </div>
            </div>
            <div class="card-footer">
                    <!-- <input type="submit" />  [disabled]="empregister.invalid"      -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="jobpost.invalid">Submit</button>
                    </div>
            </div>
        </div>
    </form>
    <br />
</div>