<br />

<div class="container">
    <h2>Employer Update</h2>
    <hr>

    <div *ngIf="emprecord">
        <form #empupdate="ngForm" (ngSubmit)="onSubmit(empupdate.value)">

            <div class="card">
                <div class="card-header">
                    Edit Information
                </div>
                <div class="card-body">

                    <div class="form-group col-md-6 ">
                        <label>
                            Id:
                        </label>
                        <input type="text" class="form-control" name="eid" disabled [ngModel]="emprecord.eid" />
                    </div>

                    <div class="form-group col-md-6 ">
                        <label for="email">
                            Email:
                        </label>
                        <input type="email" class="form-control" placeholder="email" id="email" name="email" required
                            [ngModel]="emprecord.email" />
                    </div>


                    <div class="form-group col-md-6">
                        <label for="company_name">Company Name:</label>
                        <input type="text" class="form-control" placeholder="Company Name" id="company_name" name="company_name" required
                            [ngModel]="emprecord.company_name" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="company_website">Company Website:</label>
                        <input type="text" class="form-control" placeholder="Company website" id="company_website"
                            name="company_website" required [ngModel]="emprecord.company_website" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="company_address">
                            Company Address:
                        </label>
                        <input type="text" class="form-control" placeholder="Current Company Address "
                            id="company_address" name="company_address" required
                            [ngModel]="emprecord.company_address" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="company_city">Comapany City:</label>
                        <input type="text" class="form-control" placeholder="Company City" id="company_city"
                            name="company_city" required [ngModel]="emprecord.company_city" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="company_state">Company State:</label>
                        <select class="form-control" id="company_state" name="company_state" required
                            [ngModel]="emprecord.company_state">
                            <option value="">-----------------------------State-----------------------------</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="company_profile">Company Profile:</label>
                        <textarea class="form-control" rows="4" placeholder="Company Profile" id="company_profile" name="company_profile" required
                            [ngModel]="emprecord.company_profile"></textarea>

                    </div>
                </div>
            </div>

            <br />
            <!-- <input type="submit" />  [disabled]="empregister.invalid"      -->
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
    <br />
</div>